body {
    font-family: Arial;
    margin: 0px;
    padding: 0px;
	
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 1px;
}

nav {
    display: flex;
    justify-content: space-around;
	
}
nav a {
    text-decoration: none;
    color: white;
}


.responsive{
	height: auto;
	width: 50%;
}
.content {
    padding: 2px;
}

.hero img,
.course-list img,
.team img,
.contact-info img {
    max-width: 100%;
    height: 50px;
	padding: 1px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1px;
	
	
}

table, th, td {
    border: 3px solid black;
	background-color: #90EE90;
}

th, td {
    padding: 5px;
    text-align: justify;
}




footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1px ;
	position: fixed;
	bottom:0px;
	width: 100%;
	font-size: 10px;
	
}
