@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
body {
    font-family:"Poppins", sans-serif;
    margin: 0px;
    padding:0px;
}

.pharmacy {
    background-color: #3997BB;
    color: rgb(255, 255, 255);
    padding: 20px;
    background-image: url(pharmacy_header.jpg);
    width:100%;
}

nav{
    position: relative;
    z-index: 1px;
    
}

nav ul{
    margin:0;
    padding: 0;
    list-style: none;
    display: flex;
    gap:40px;
}

nav.before .active-element{
    transform: rotateY(180dg);
    list-style: none;
    display:flex;
    align-items: center;
    gap: 3rem;
}

.link a{
    color: white;
    position: relative;
    padding-bottom: 0.75rem;
    text-decoration: none;
    }

.link a::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    left: 0;
    bottom: 0;
    background-color:hsl(251, 53%, 48%);
    transition: 0.3s;

}
.link a:hover::after{
    width:50%;
}
.header_container{
    position: absolute;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2rem;
   

}
.header_blur{
    bottom:5rem;
    left:0;

}
.header_content h4{
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 600;
    color:white;
    margin:10px;
    padding: 5px;

}
.header_content h1{
    margin-bottom: 1rem;
    font-size: 5rem;
    font-weight: 700;
    line-height: 6rem;
    color: white;
    margin:5px;

}
.header_content h1 span{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px white;
}
.header_content p{
    margin-bottom: 2rem;
    color: white;

}
.section_container{
    max-width: 1200px;
    margin: auto;
    padding: 5px;
}

.responsive{
	height: auto;
	width: 50%;
}
.content {
    padding: 2px;
    height: 80vh;
}

.hero img,
.course-list img,
.team img,
.contact-info img {
    max-width: 100%;
    height: 50px;
	padding: 1px;
}

.course-top{
    padding:0 0 100px 0;
}

.online-title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
    color: rgb(20, 95, 130);
}

.online-courses{
    background-color: white;
    height: auto;
    padding: 0 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.online-courses img{
    width: 250px;
    border-radius: 8px;
    margin-bottom: 15px;
    align-items: center;
    height: 200px;
}

.online-box{
    background-color: white;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgb(177,177,177),2px 2px 5px rgb(177,177,177);
    transition: 0.3s ease-in-out;
    width: 300px;
    height: 700px;
}
.online-box:hover{
    box-shadow: 0px 5px 15px #bdbdbd;
    cursor: pointer;
}

.online-box h2{
    font-size: 18px;
    color: rgb(49,48,48);
    margin: 5px 0;
}

.online-box p{
    color: rgb(99,99,99);
    margin: 5px 0;
}

footer {
    background-color:#82dcec;
    color:black;
    text-align: center;
    padding: 1px ;
	position: fixed;
	bottom:0px;
	width: 100%;
	font-size: 10px;
}
